<div class="d-flex flex-column mt-5">

  <div class="d-flex flex-column flex-md-row align-items-center justify-content-md-between gap-3">

    <h4 class="my-auto text-center text-md-start"><b>My Journey</b></h4>
  </div>

  <div class="content-block p-4 mt-3">
    <p>
      Back in 2019, I tried out a programming course for the first time. Shortly after, I changed my major for the last time. Since then, I have passionately pursued
      engineering expertise because, simply put, I <b class="gradient-text">love</b> it.
    </p>
    <p class="mt-2">
      Fast forward to today; I professionally develop software for one of the largest global health systems and I have published my very own app, among several other projects of note. I am proud of 
      how far I have come. Going forward, my career interest is to continue to pursue <b class="gradient-text">creative solutions</b> for <b class="gradient-text">complex problems</b> using 
      <b class="gradient-text">powerful tools</b> and <b class="gradient-text">human ingenuity</b>.
    </p>
    <p class="mt-2">
      If not clickity-clacking away in my fantastically ergonomic home office, you'll likely find me either playing a game or thinking about a game. If not,
      check the local parks, where I love to disc golf and look for awesome birds. If I'm still not to be found, ask my beautiful wife; she'll know how to
      track me down.
    </p>
  </div>

  <div class="d-flex gap-3 mt-3 align-items-start">
    <img class="portrait" src="/assets/img/me-picture-1.jpg" alt="A personal photo"/>
    <img class="landscape" src="/assets/img/me-picture-2.jpg" alt="A personal photo"/>
    <img class="portrait" src="/assets/img/me-picture-3.jpg" alt="A personal photo"/>
  </div>
</div>
