<div class="container main">
  <div class="mt-5"></div>
  <div class="d-flex">

    <div class="d-none d-md-flex">
      <img
        class="profile-image"
        src="/assets/img/profile-new.png"
        alt="A stylized picture of my face">
    </div>

    <div class="d-none d-md-block vert-divider"></div>

    <div class="col-xs-auto">
      
      <div class="page-title">
        <h1>Hi there, I'm Wayne. Here's a little bit about me.</h1>
      </div>
      <div class="mt-5"></div>
      <h3>
        I develop software.
      </h3>
      <p>
        Presently, I work for UPMC on a full-stack team that is responsible for developing the front- and back-end of 
        the multiplatform <a href="https://myupmc.upmc.com" target="_blank">MyUPMC</a> patient portal.<br/>
        I have published two Android apps of my own creation. Of those, Median Meeple is under current development.
      </p>
      <div class="mt-3"></div>
      <button routerLink="/portfolio">Portfolio</button>
      <div class="mt-5"></div>

      <h3>I am a husband.</h3>
      <p>
        I married my beautiful goofball 2 years ago. We love to talk about books, play games and disc golf, and go birdwatching.
      <p>
      <div class="mt-3"></div>

      <h3>I love to play games.</h3>
      <p>
        I play video games and board games and I am fascinated by game design. I believe games are an invaluable vessel for 
        human connection. Indeed, they have contributed to the development of every relationship in my life. 
      </p>
      <div class="mt-3"></div>

      <h3>I am an amateur disc golfer.</h3>
      <p>I have competed as an amateur for 3 years and I help improve and maintain our local courses. I got my first tournament win in November 2023 in the MA3 division!</p>
      <div class="mt-3"></div>

      <h3>I am a fledgling audobon (birdwatcher).</h3>
      <p>
        The board game <i>Wingspan</i> first sparked my interest in birds and was followed by a slow 
        build-up through incidental birdwatching while pursuing other interests. These days I 
        regularly go out to hunt for interesting birds and I've greatly enjoyed learning to identify
        our local birds.
      </p>
      <div class="mt-3"></div>
    </div>
  </div>
</div>
