<div class="container main">
  <div class="mt-5"></div>
  <div class="d-flex">

    <div class="d-flex col-xs-auto">
      <img
        class="profile-image"
        src="/assets/img/profile-new.png"
        alt="A stylized picture of my face">
    </div>

    <div class="vert-divider"></div>

    <div class="col-xs-auto">

      <div class="page-title">
        <h1>My Portfolio</h1>
      </div>
      <div class="mt-5"></div>

      <h3>UPMC Enterprises, Full-stack Engineer for <a href="https://myupmc.upmc.com" target="_blank">MyUPMC</a></h3>
      <h5>May 2021 to August 2021, Engineer I</h5>
      <ul>
        <li><p>Under the mentorship of a team of experts, I was able to ramp up and begin writing code on day 2.</p></li>
        <li><p>I contributed significantly to the Android implementation of a new CDN to deliver relevant healthcare content to users.</p></li>
        <li><p>While working on the CDN, I developed a custom solution for converting rich text delivered over an API to native UI.</p></li>
      </ul>
      <h5>December 2021 to April 2023, Engineer II</h5>
      <ul>
        <li><p>Our team created the MyUPMC personalization engine, allowing CDN content to be tailored to a patient's demographics.</p></li>
        <li><p>Later, we extended the personalization engine to enable an integration with another UPMC affiliate.</p></li>
        <li><p>We implemented a brand new design for the Settings experience, including a native change password screen, quick login preference screen, and more.</p></li>
        <li><p>I lead an effort to standardize design tokens across the Android project to reduce overhead when implementing new designs.</p></li>
        <li><p>I assisted in the migration of several of our APIs to a new authentication paradigm (bearer tokens).</p></li>
        <li><p>Continuing to leverage our CDN, we developed a configurable banner to display during service downtime events.</p></li>
      </ul>
      <h5>April 2023 to Present, Engineer III</h5>
      <ul>
        <li><p>I was a primary contributor on the front- and back-end for a large extension on the notification preferences feature, expanding it to provide granular control over notification categories for email, SMS, and push notifications.</p></li>
        <li><p>Using the knowledge and skills I developed while working on a personal project over the previous year, I partnered with our team's architect to integrate support in the Android project for a new MVVM architecture using Jetpack Compose. We then began to develop new features using this architecture, while continuing to support existing features implemented with the old one.</p></li>
        <li><p>I became a leader and mentor for our team as we ramped up in this new architecture, working with my colleagues individually and leading several team-wide demonstrations.</p></li>
        <li><p>I helped lead Android development for the <i>Find Care</i> menu, our first major feature to use the new MVVM architecture.</p></li>
        <li><p>In close cooperation with the design team and in order to facilitate our team's onboarding for the new architecture, I created a library of common UI components in compliance with our MyUPMC style guide.</p></li>
        <li><p>I worked extensively on the newly native <i>Appointments</i> feature. While working on this feature, I had the opportunity to work with the design team to improve visual accessibility in several places throughout the feature.</p></li>
      </ul>
      <div class="mt-5"></div>

      <h3>Median Meeple</h3>
      <h5>January 2022 to Present</h5>
      <ul>
        <li><p>As a solo developer, I published Median Meeple to the Play Store in Q4 2022 and I actively maintain it.</p></li>
        <li><p>In Median Meeple, a user can create a library of their favorite board games and record detailed data for each match that they play.</p></li>
        <li><p>I use the Room persistence library to deliver a relational database consisting of five data models I created to represent <i>game, match,</i> and <i>player</i> data. Using this system, a user can create their own custom data model that reflects the scoring of each game to their preferred level of detail.</p></li>
        <li><p>I leverage a MVVM architecture, using Jetpack Compose and Google's Material Design System 3 to present an intuitive and attractive UI to users. I also make use of Jetpack's Dagger/Hilt and the powerful Kotlin Coroutines.</p></li>
      </ul>
      <div class="mt-5"></div>

      <h3>RotMG DPS Calculator</h3>
      <h5>May 2020 to August 2021</h5>
      <ul>
        <li><p>I published this app to the Play Store in Q1 2020, but the project ran out of steam in late 2021. It is no longer available on Play, as it is many years out of date.</p></li>
        <li><p>I designed this app to assist a user playing the MMORPG, <i><a href="https://www.realmofthemadgod.com/" target="_blank">Realm of the Mad God</a></i>. Using it, a player can calculate their <i>damage-per-second</i> or "DPS" with a certain set of gear, and then compare that result to another set of gear.</p></li>
        <li><p>As there was no convenient API available at the time, I created and maintained my own JSON dataset containing the hundreds of equipment items obtainable in the game.</p></li>
        <li><p>In the last update before I had to discontinue the project, I implemented support for showing the damage-per-second comparison on a line graph.</p></li>
      </ul>
      <div class="mt-5"></div>

      <h3>This Website!</h3>
      <ul>
        <li><p>I self-host this website on my own home server that I run using an old PC tower and the incredible <a href="https://unraid.net/" target="_blank">Unraid</a> software.</p></li>
        <li><p>I designed it myself and developed it using Angular and Node.js.</p></li>
      </ul>
    </div>
  </div>
</div>
