<div class="container">

  <div class="mt-5"></div>

  <!-- Profile -->
  <div class="row justify-content-center">

    <div class="col-xs-2">
      <img id="profile-image" src="/assets/img/wayne_orange_splash_rounded.png" alt="A stylized picture of my face">
    </div>
  </div>

  <!-- Links -->
  <!-- <div class="row justify-content-center mt-3">
    <div class="profile-link">
      <i class="icon fa-brands fa-github"></i>
    </div>

    <div class="profile-link ml-3">
      <i class="icon fa-brands fa-linkedin"></i>
    </div>

    <div class="profile-link ml-3">
      <i class="icon fa-brands fa-google-play"></i>
    </div>
  </div> -->
</div>

<div class="container profile-content">

  <!-- Intro -->
  <div class="row justify-content-center">
    <div class="profile-text-container">
      <div class="profile-text-line"></div>
      <span class="profile-text">
        Hello there, my name is Wayne. I am a passionate software developer, gamer, husband, Christian, and friend. 
      </span>
    </div>
  </div>

  <!-- Links -->
  <div class="row justify-content-end mt-5">
    <div class="intro-link mr-3">
      <i class="icon fa-solid fa-code"></i>
      <span class="text">My work</span>
    </div>
    <div class="intro-link">
      <i class="icon fa-solid fa-book-open"></i>
      <span class="text">My story</span>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
