<div class="min-vh-100 d-flex flex-column justify-content-between">
  
  <div>
    <div class="my-bg-gradient">
      <div class="container d-flex justify-content-between w-100 py-2">
        <div routerLink="/" class="nav-bar-me d-flex gap-3">
          <img
            class="profile-image"
            src="/assets/img/profile-new.png"
            alt="a stylized picture of my face">

          <h4 class="my-auto">Wayne Bloom</h4>
        </div>
          <nav class="d-flex gap-4 align-items-end">
            <a routerLink="/about" routerLinkActive="nav-bar-active"><h5>About Me</h5></a>
            <a routerLink="/portfolio" routerLinkActive="nav-bar-active"><h5>Portfolio</h5></a>
          </nav>
      </div>
    </div>

    <div class="container my-4">
      <router-outlet></router-outlet>
    </div>

  </div>
  
  <footer class="m-4">
    <div class="container d-flex justify-content-between">
      <div class="col-xs-auto d-flex flex-column">
        <h6>Contact me</h6>
        <a href="mailto:wayne.bloom224@gmail.com" class="body">wayne.bloom224@gmail.com</a>
      </div>
      <div class="col-xs-auto d-flex flex-column">
        <h6>Socials</h6>
        <a target="_blank" href="https://www.linkedin.com/in/wayne-bloom-a57975176/" class="body">LinkedIn</a>
      </div> 
    </div>
  </footer>
</div> 