@property --color1 {
  syntax: '<color>';
  initial-value: #FC480A;
  inherits: false;
}

@property --color2 {
  syntax: '<color>';
  initial-value: #F98900;
  inherits: false;
}

h1, h2, h3, h4, h5, h6, p {
  color: #C9C3BD;
  font-family: 'Raleway', sans-serif;
}

p, i {
  color: #C9C3BD;
  font-family: 'Rubik', sans-serif;
}

li {
  color: #C9C3BD
}

.main {
  overflow: auto;
  padding-bottom: 150px;
}

.profile-image {
  height: 128px;
  width: 128px;
  border: 8px solid transparent;
  background: linear-gradient(to left, #FC480A, #F98900);
  background-origin: border-box;
  background-clip: border-box;
  border-radius: 28px;
}

.page-title {
  display: flex;
  align-items: center;
  height: 128px;
  color: #C9C3BD;
  font-family: 'Raleway', sans-serif;
}

.vert-divider {
  width: 2px;
  margin-left: 32px;
  margin-right: 32px;
  background: #C9C3BD;
  border-radius: 1px;
}

body {
  background: #222222;
}

button {
  display: flex;
  align-items: center;
  height: 40px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 1em;
  font-weight: 600;
  border: 2px solid transparent;
  border-radius: 20px;
  background: linear-gradient(to left, var(--color1), var(--color2));
  background-origin: border-box;
  background-clip: border-box;
  font-family: 'Raleway', sans-serif;

  transition: --color1 200ms, --color2 200ms;

  &:hover {
    --color2: #FC480A;
  }

  &:active {
    --color1: #F98900;
    --color2: #F98900;
  }
}
